In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


#practical manual line number 22

In [4]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   --- ------------------------------------ 20.5/250.9 kB 34.6 kB/s eta 0:00:07
   --- ------------------------------------ 20.5/250.9 kB 34.6 kB/s eta 0:00:07
   --- ------------------------------------ 20.5/250.9 kB 34.6 kB/s eta 0:00:07
   --- ------------------------------------ 20.5/250.9 kB 34.6 kB/s eta 0:00:07
   ---- ----------------------------------- 30.7/250.9 kB 42.3 kB/s eta 0:00:06
   ---- ----------------------------------- 30.7/250.9 kB 42.3 kB/s eta 0:00:06
   ---- ----------------------------------- 30.7/250.9 kB 42.3 kB/s eta 0:00:06
   ------ --------------------------------- 41.0/250.9 kB 50.4 kB/s eta 0:00:05
   ------ --------------------------------- 41.0/250.9 kB 50.4 kB/s eta 0:00:05
   -------- ------------------------------- 51.2/250.9 kB 59.6 kB/s eta 0:00:04
   --------- ------------------------------ 61.4/250.9 kB 69.8 kB/s eta 0:00:03
   -------------- ------------------------ 92.2/250.9 kB 100.9 kB/s eta 0:00:02
   --------------------- ---------------- 143.4/250.9 kB 155.0 kB/s eta 0:00:01
   --------------------------- ---------- 184.3/250.9 kB 195.6 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 247.1 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 247.1 kB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 233.4 kB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install openpyxl --upgrade

Requirement already satisfied: openpyxl in c:\users\kumar\appdata\local\programs\python\python312\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\kumar\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\kumar\appdata\local\programs\python\python312\lib\site-packages (24.0)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 1.3 MB/s eta 0:00:02
    --------------------------------------- 0.0/1.8 MB 653.6 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/1.8 MB 1.5 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/1.8 MB 1.6 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/1.8 MB 1.5 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/1.8 MB 1.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.8 MB 1.4 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/1.8 MB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 1.4 MB/s eta 0:00:01
   ------------- -------------------------- 0.6/1.8 MB 1.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.7/1.8 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 1.4 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.4 MB/s eta 0:00:01
   --------------------- ------------------ 1.0/1.8 MB 1.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.8 MB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.8 MB 1.4 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------- ----------- 1.3/1.8 MB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 1.6/1.8 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 1.6 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.0
    Uninstalling pip-24.0:
      Successfully uninstalled pip-24.0
Successfully installed pip-24.3.1

In [37]:
df1=pd.read_csv('dmvprac1_sales_data_sample.csv', encoding='ISO-8859-1')
df2=pd.read_json('dmvprac1_sales_data_sample.json')
df3=pd.read_excel('dmvprac1_sales_data_sample.xlsx')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x84 in position 5327: invalid start byte

In [36]:
df1.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [9]:
df1.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [10]:
df2.head()

,id,email,first,last,company,created_at,country
0,1,isidro_von@hotmail.com,Torrey,Veum,"Hilll, Mayert and Wolf",2014-12-25 04:06:27.981000+00:00,Switzerland
1,2,frederique19@gmail.com,Micah,Sanford,Stokes-Reichel,2014-07-03 16:08:17.044000+00:00,Democratic People's Republic of Korea
2,3,fredy54@gmail.com,Hollis,Swift,"Rodriguez, Cartwright and Kuhn",2014-08-18 06:15:16.731000+00:00,Tunisia
3,4,braxton29@hotmail.com,Perry,Leffler,"Sipes, Feeney and Hansen",2014-07-10 11:31:40.235000+00:00,Chad
4,5,turner59@gmail.com,Janelle,Hagenes,Lesch and Daughters,2014-04-21 15:05:43.229000+00:00,Swaziland

In [11]:
df3.head()

   Postcode  Sales_Rep_ID Sales_Rep_Name  Year         Value
0      2121           456           Jane  2011  84219.497311
1      2092           789         Ashish  2012  28322.192268
2      2128           456           Jane  2013  81878.997241
3      2073           123           John  2011  44491.142121
4      2134           789         Ashish  2012  71837.720959

In [12]:
df1.shape

(2823, 25)

In [13]:
df2.shape

(9999, 7)

In [14]:
df3.shape

(390, 5)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [16]:
#Checks for NA values in columns
df1.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [17]:
#for calculating some statistical data like percentile, mean and std of the numeric
df1.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [18]:
df1 = df1.drop(['ADDRESSLINE1','ADDRESSLINE2','CITY','STATE','TERRITORY'],axis = 1)

In [19]:
df1.isna().sum()

ORDERNUMBER          0
QUANTITYORDERED      0
PRICEEACH            0
ORDERLINENUMBER      0
SALES                0
ORDERDATE            0
STATUS               0
QTR_ID               0
MONTH_ID             0
YEAR_ID              0
PRODUCTLINE          0
MSRP                 0
PRODUCTCODE          0
CUSTOMERNAME         0
PHONE                0
POSTALCODE          76
COUNTRY              0
CONTACTLASTNAME      0
CONTACTFIRSTNAME     0
DEALSIZE             0
dtype: int64

In [20]:
#Filling all NA values with mode of the POSTALCODE column
df1 = df1['POSTALCODE'].fillna(df1.POSTALCODE.mode(), inplace=True)

C:\Users\kumar\AppData\Local\Temp\ipykernel_10256\3315489366.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1 = df1['POSTALCODE'].fillna(df1.POSTALCODE.mode(), inplace=True)

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          9999 non-null   int64
 1   email       9999 non-null   object
 2   first       9999 non-null   object
 3   last        9999 non-null   object
 4   company     9999 non-null   object
 5   created_at  9999 non-null   datetime64[ns, UTC]
 6   country     9999 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 546.9+ KB

In [22]:
df2.isna().sum()

id            0
email         0
first         0
last          0
company       0
created_at    0
country       0
dtype: int64

In [23]:
df2 = df2.drop(['country'],axis = 1)

In [24]:
df2.describe()

                id
count  9999.000000
mean   5000.000000
std    2886.607005
min       1.000000
25%    2500.500000
50%    5000.000000
75%    7499.500000
max    9999.000000

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Postcode        390 non-null    int64
 1   Sales_Rep_ID    390 non-null    int64
 2   Sales_Rep_Name  390 non-null    object
 3   Year            390 non-null    int64
 4   Value           390 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 15.4+ KB

In [29]:
df3.isna().sum()

Postcode          0
Sales_Rep_ID      0
Sales_Rep_Name    0
Year              0
Value             0
dtype: int64

In [27]:
df3.describe()

          Postcode  Sales_Rep_ID         Year         Value
count   390.000000    390.000000   390.000000    390.000000
mean   2098.430769    456.000000  2012.000000  49229.388305
std      58.652206    272.242614     0.817545  28251.271309
min    2000.000000    123.000000  2011.000000    106.360599
25%    2044.000000    123.000000  2011.000000  26101.507357
50%    2097.500000    456.000000  2012.000000  47447.363750
75%    2142.000000    789.000000  2013.000000  72277.800608
max    2206.000000    789.000000  2013.000000  99878.489209

In [ ]:
df3.info()